.addUser{
  width: max-content;
  height: max-content;
  padding: 4em;
  background-color: #b788d3f8;
  border-radius: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;


  form{
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: center;

    input{
      padding: 1em;
      border-radius: 10px;
      border: none;
      outline: none;
    }

    button{
      padding: 1em;
      border-radius: 10px;
      background-color: #ffffff;
      color: #b354eb;
      font-weight: 500;
      border: 1px solid #9f5ac7ce;
      cursor: pointer;
    }
    .close{
      width: 30px;
      height: 30px;
      cursor: pointer;    
      transition: transform 0.1s;
    }

    .close:hover{
      transform: scale(0.8);
    }
  }

  .user{
    margin-top: 1.5em;
    display: flex;
    align-items: center;
    gap: 8.5em;

    .detail{
      display: flex;
      align-items: center;
      gap: 10px;

      img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    button{
      padding: 0.5em;
      border-radius: 10px;
      background-color: #ffffff;
      color: #b354eb;
      font-weight: 500;
      border: 1px solid #9f5ac7ce;
      cursor: pointer;
    }
  }
}

@media (max-width: 480px) {
  .addUser{
    padding: 1.5em;

    form{
      input{
        padding: 0.5em;
      }

      button{
        padding: 0.5em;
      }
    }

    .user{
      button{
        padding: 0.3em;
      }
    }
  }
}